body{
    width: 960px;
    margin:auto;
    background-color: rgb(250, 249, 229);
    
}

.logo{
    padding: 20px;
    width: 250px;
    height: 100px;
    margin: auto;
}
nav{
    text-align:  right;
}
header{ position: fixed;
    background-color: rgba(245, 239, 188, 0.945);
    width: 960px;
}
header {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
  }
h4{
    display: inline;
    
}

h3{
    color: rgb(82, 88, 148);
    font-family: Arial, Helvetica, sans-serif;

    
    
}
a { 
    text-decoration: none;
    color:rgb(248, 166, 12);
  }
header nav a {
  font-size: 20PX;
  font-family: 'Cairo', sans-serif;
    padding: 20px 20px;
    display: inline-block;
    transition: all 500ms;
  }
  header nav a:hover {
    color: rgb(250, 246, 7);
    background-color: rgba(125, 149, 165, 0.61);
  }


.mainImg{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 175px;
}

.imageSec {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom: 60px;
  }

p{display: inline-block;
  font-family: 'Oswald', sans-serif;
color: gray;
}

.pSec {
  font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    color: rgb(100, 92, 92);
    
    
  }
  h2{font-family: 'Cairo', sans-serif;

    color: rgb(248, 166, 12);
  }


h1{font-family: 'Cairo', sans-serif;

  color: rgb(50, 70, 97);
  background-color: rgba(245, 239, 188, 0.945);
  padding: 15px 20px ;
  
}
  .lastSec{
      margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;

  }

  .locations:nth-child (1){
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;


  }

  .locations:nth-child (2){
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;


  }

  .locations:nth-child (3){
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;


  }
  .locations:nth-child (4){
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;


  }

  .locations:nth-child (5){
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;


  }
.locations{
  display: grid;
  grid-template-columns: auto auto ;
}


  footer{
      padding-top: 50px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: rgb(75, 110, 150);
  }

  hr.solid {
    
    border-top: 5px solid rgba(7, 55, 100, 0.575);
    margin-top: ;
  }

  div{
    font-family: 'Oswald', sans-serif;
  }